html {
	font-family: Trebuchet MS;
}

body {
	background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    height: 100%;
}

.heading {
	text-align: center;
	font-size: 26pt;
	margin-bottom: 0px;
}

.subHeading {
	text-align: center;
	font-size: 16pt;
	margin-bottom: ;
}

.customerTable {
	margin-top:10px;
}

.contractorTable{
	margin-top: 10px;
	margin-bottom: 20px;
}

.customerInfo {
	text-indent: ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.customerInfo td {
	font-size: 12pt;
	width: ;
}

button {

}

.formContainer {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 200px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px #888888;
}

.table-title {
    height: 90px;
    font-family: Trebuchet MS;
	text-indent: ;
	text-decoration: ; 
	margin-bottom: 40px;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
    background-color: ;
    padding: 1px;
    width: 100%;


/* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1); 
    -moz-box-shadow: 0px 1px 3px rgba(23, 69, 88, 1);


/* gradients */
    background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%, white), color-stop(10%, white), color-stop(100%, #f5f5f5)); 
    background: -moz-linear-gradient(top, white 0%, white 55%, #f5f5f5 130%); 
}


.table-title h1, h3 {
    color: #2E2E2E;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.townInfo {
	margin-left: 0;
	margin-right: ;
	margin-top: 20px;
	border: 1px solid black;
}

.townInfo th {
	font-size: 14pt;
	text-decoration: ;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-left: 40px;
}

.townInfo td {
	padding-left: 40px;
	padding-right: 40px;
}

tr.borderBottom th {
	border-bottom: ;
}

.newPage {
	page-break-before: always;
}

.estimatedCost{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px solid black;	
}

.estimatedCost td {
	padding-right: 20px;
	padding-left: 20px;
}
