<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <style type="text/css">
        	table {
        		margin-left: 0px;
        		margin-bottom: 10px;
        	}
		td {
			font-size: 10pt;
		}

      		.underline {
      			border-bottom: 1px solid black;
      			text-align: left;
      			padding-left: 10px;
      			padding-right: 10px;
      		}
      

    	</style>
    </head>
    <body>
	<p style="font-size:10pt;font-weight:bold;margin-bottom:30px">APPENDIX I</p>
        <h3 style="text-align:center;margin-bottom:20px"> Small Generator Certificate of Completion </h3>
        
        <table>
        	<thead>
        	</thead>
        	<tbody>
        		<tr>
        			<td>Is the Small Generator owner-installed?&nbsp;&nbsp;</td>
        			<td>Yes</td>
        			<td class="underline" style="width:55px"></td>
        			<td style="padding-left:15px">No</td>
        			<td class="underline" style="width:55px;text-align:center"><b>X</b></td>
        		</tr>
        	</tbody>
        </table>
        <table>
        	<thead>
        	</thead>
        	<tbody>
        		<tr>
        			<td>Installed Total System Output:&nbsp;</td>
        			<td class="underline" style="width:79px;text-align:center">{{ info["total_system_size_dc"] }}</td>
        			<td>kW DC, and</td>
        			<td class="underline" style="width:79px;text-align:center">{{ info["total_system_size_ac"] }}</td>
        			<td>kW AC</td>
        		</tr>
        	</tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Interconnection Customer:&nbsp;</td>
                    <td class="underline" style="width:408px">{{ info["name"] }}</td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Contact Person:&nbsp;</td>
                    <td class="underline" style="width:482px;text-align:left">Level Solar Inc.</td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Address:&nbsp;</td>
                    <td class="underline" style="width:531px;text-align:left">90 13th Avenue, Suite 8, Ronkonkoma, NY 11779</td>
                </tr>
            </tbody>
        </table>
        <table style="margin-bottom:15px">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Location of the Small Generator (if different from above):&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td class="underline" style="width:598px;text-align:left">{{ info["address"] }}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>City:&nbsp;</td>
                    <td class="underline" style="width:208px">{{ info["city"] }}</td>
                    <td style="padding-left:15px">State:&nbsp;</td>
                    <td class="underline" style="width:78px">NY</td>
                    <td style="padding-left:15px">Zip Code:&nbsp;</td>
                    <td class="underline" style="width:78px">{{ info["zip_code"] }}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Telephone (Day):&nbsp;</td>
                    <td class="underline" style="width:180px;text-align:left">(844) 465-3835</td>
                    <td style="padding-left:15px">(Evening):&nbsp;</td>
                    <td class="underline" style="width:181px"></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Fax:&nbsp;</td>
                    <td class="underline" style="width:161px"></td>
                    <td style="padding-left:15px">E-mail Address:&nbsp;</td>
                    <td class="underline" style="width:249px">permits@levelsolar.com</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="text-decoration:underline">Electrician:</td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Name:&nbsp;</td>
                    <td class="underline" style="width:546px;text-align:left">Shawn Ranaldo</td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Address:&nbsp;</td>
                    <td class="underline" style="width:531px;text-align:left">90 13th Avenue, Suite 8</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>City:&nbsp;</td>
                    <td class="underline" style="width:208px">Ronkonkoma</td>
                    <td style="padding-left:15px">State:&nbsp;</td>
                    <td class="underline" style="width:78px">NY</td>
                    <td style="padding-left:15px">Zip Code:&nbsp;</td>
                    <td class="underline" style="width:79px">11779</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Fax:&nbsp;&nbsp;</td>
                    <td class="underline" style="width:161px"></td>
                    <td style="padding-left:15px">E-mail Address:&nbsp;</td>
                    <td class="underline" style="width:246px">permits@levelsolar.com</td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>License Number:&nbsp;</td>
                    <td class="underline" style="width:474px;text-align:left">51858-ME</td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Date Approval to Install Facility Granted by LIPA:&nbsp;</td>
                    <td class="underline" style="width:255px;text-align:left"></td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Application ID Number:&nbsp;</td>
                    <td class="underline" style="width:429px;text-align:left"></td>
                </tr>
            </tbody>
        </table>
         <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="text-decoration:underline">Inspection:</td>
                </tr>
            </tbody>
        </table>
         <table style="margin-bottom:0px">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>The Small Generator has been installed and inspected in compliance with the local</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>building/electrical code of:&nbsp;</td>
                    <td class="underline" style="width:409px;text-align:left"></td>
                </tr>
            </tbody>
        </table>
         <table style="margin-bottom:25px">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Signed (local electrical writing inspector, or attach signed electrical inspection):&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td class="underline" style="width:307px;text-align:left"></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Print Name:&nbsp;</td>
                    <td class="underline" style="width:216px;text-align:left"></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Date:&nbsp;</td>
                    <td class="underline" style="width:263px;text-align:left"></td>
                </tr>
            </tbody>
        </table>
	<p style="margin-top:20px;text-align:center;font-size:8pt">-78-</p>
    </body>
</html>
