<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/pdf.css">
    </head>
    <body style="background-color:white">
      <div>
      	<h1 class="heading">{{ info["municipality"] }}</h1>
      	<h3 class="subHeading"> Building and Solar Permit Application Pack </h3>
      </div>
      <hr>
      <div class="customerTable">
    	<table class="customerInfo">
    		<thead>
    		</thead>
    		<tbody>
    				<tr><td style="font-weight:bold;font-size:20pt;height:40px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Customer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
 				    <tr><td style="text-indent:133px">{{ info["name"]}}</td></tr>
                    <tr><td style="text-indent:133px">{{ info["street_address"] }}</td></tr>
                    <tr><td style="text-indent:133px">{{ info["city"] }}, {{ info["state"] }} {{ info["zip"] }}</td></tr>
                    <tr><td style="text-indent:133px">{{ info["phone"] }}</td></tr>
            </tbody>
    	</table>
      </div>
        <div class="taxID">
      <table class="customerInfo">
        <thead>
        </thead>
            <tbody>
            <tr><td style="font-weight:bold;font-size:20pt;height:40px;margin-top:10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tax ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
            <tr><td style="text-indent:86px">{{ info["tax_map_id"]}}</td></tr>
            </tbody>
      </table>
      </div>
      <div class="contractorTable">
      <table class="customerInfo">
        <thead>
        </thead>
        <tbody>
            <tr><td style="margin-top:50px;text-indent:20px;font-weight:bold;font-size:20pt;height:40px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contractor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
            <tr><td style="text-indent:133px">Level Solar</td></tr>
                    <tr><td style="text-indent:133px">90 13th Avenue, Suite 8</td></tr>
                    <tr><td style="text-indent:133px">Ronkonkoma, NY 11779</td></tr>
                    <tr><td style="text-indent:133px">(631) 590-4000</td></tr>
            </tbody>
      </table>
      </div>
      <hr>
      <table width="100%" align="center" class="townInfo">
        <thead>
          <tr class="borderBottom">
            <th style="width:485px">Document</th>
            <th style="text-align:center;padding-left:20px;padding-right:40px;width:50px">Copies</th>
          </tr>
        </thead>
        <tbody>
           {% for item in town_info %}
            <tr>
              <td>{{ item["item"] }}. {{ item["name"] }}</td>
              <td>{{ item["count"] }}</td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
	<h1 style="margin-bottom:20px" class="newPage heading">Statement of Estimated Cost</h1>
	<hr>
	<h3 style="font-size:20pt;margin-top:40px">{{ info["name"] }}</h3>
    </body>
  <div style="width:auto;margin-left:auto;margin-right:auto">
  <table class="estimatedCost">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td style="font-weight:bold">Number of Modules:</td>
        <td>{{ info["number_of_panels"] }}</td>
      </tr>
      <tr>
        <td style="font-weight:bold">Module Power (W DC):</td>
        <td>{{ info["module_power"] }}</td>
      </tr>
      <tr>
        <td style="font-weight:bold">Array Size (kW DC):</td>
        <td>{{ info["total_system_size"] }}</td>
      </tr>
      <tr>
        <td style="font-weight:bold">Cost/kW (DC):</td>
        <td>${{ info["cost_per_kW"] }}</td>
      </tr>
      <tr>
        <td style="font-weight:bold">Total System Cost:</td>
        <td>${{ info["total_system_cost"] }}</td>
      </tr>
    </tbody>
  </table>  
</div>
</html>
